<div class="info">
<h2><%=cl_image_tag trip_item.photo, alt: "alttext",  class: "img-fit"  %></h2>
<h3><%= trip_item.name %></h3>
<p><%= trip_item.address %></p>
<p><%= trip_item.price %> moneys</p>
</div>
