<div class="container-trip-creation d-flex">
  <div class="col-12 ">
    <div class="nested-trip-creation destination ">
      <div class = "header"><h2>What is your <span class="form-destination">destination</span>?</h2></div>
      <div class="container p-5">
        <%= simple_form_for @trip do |form|%>

        <%= form.input :location, placeholder: "Where do you want to go today #{current_user.first_name}? Sidney, Istanbul, maybe London?", label: false %>
        <%= form.submit class:"btn btn-trip-creation-form" %>
        <% end %>
      </div>
    </div>
    <div class="col-12 footer-end destination-form">
        <div class="row footer-flex-item ">
          <div class="grow-footer"></div>
          <div><i class="fas fa-globe-americas"></i></div>
          <div class="grow-footer"></div>
          <div><i class="fas fa-calendar-alt"></i></div>
          <div class="grow-footer"></div>
          <div><i class="fas fa-users"></i></div>
          <div class="grow-footer"></div>

        </div>
    </div>
  </div>
</div>


