<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="suggestion-tab" data-toggle="tab" href="#suggestion" role="tab" aria-controls="suggestion" aria-selected="true">Trip Suggestions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="route-tab" data-toggle="tab" href="#route" role="tab" aria-controls="route" aria-selected="false">Your Route</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Map
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="calandar-tab" data-toggle="tab" href="#calandar" role="tab" aria-controls="calandar" aria-selected="false">Calandar</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="suggestion" role="tabpanel" aria-labelledby="suggestion-tab">
    <div class="container pt-5">
      <% @trip.trip_items.each do |element| %>
        <div class="trip-item-card">
      <%#= link_to trip_trip_item_path(element) do%>
          <%= element.name %>
          <p> 1.trip item</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#card-trip-item-<%=element.id%>">
            TEST
          </button>

      <%# end %>

        </div>
      <% end %>
    </div>
   </div>


  <div class="tab-pane fade" id="route" role="tabpanel" aria-labelledby="route-tab">
    <div class = "container pt-5">
      <p> Your route stuff here</p>
    </div>
  </div>
  <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
    <div class="container pt-5">
      <p> Map stuff here</p>
    </div>
  </div>
  <div class="tab-pane fade" id="calandar" role="tabpanel" aria-labelledby="calandar-tab">
    <div class="container pt-5">
      <p> Calandar stuff here</p>
    </div>
  </div>
  <% @trip.trip_items.each do |element| %>
    <%= render partial: "trip-item", locals: { element: element } %>
  <% end %>
</div>
