<div class="container">
  <ul class ="listlist-group list-group-flush" id="comments-list-<%= trip_item.id %>">
    <% comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  </ul>
</div>
