
<div class="container-trip-creation d-flex">
  <div class="col-12 ">
    <div class="nested-trip-creation friends">
      <div class = "header"><h2>Who are your <span class="form-destination">Tripmates</span>?</h2></div>

      <div class="container">
        <%= simple_form_for(@trip, url: wizard_path) do |f| %>
        <%= f.input :users, label: false, as: :select, collection: @users, label_method: :full_name, input_html: { multiple: true }, include_blank: false, include_hidden: false%>
        <%= f.submit  class:"btn btn-trip-creation-form" %>
        <% end %>
     </div>
    </div>
    <div class="col-12 footer-end friends-form">
      <div class="row footer-flex-item ">
        <div class="grow-footer"></div>
        <div><i class="fas fa-globe-americas"></i></div>
        <div class="grow-footer"></div>
        <div><i class="fas fa-calendar-alt"></i></div>
        <div class="grow-footer"></div>
        <div><i class="fas fa-users"></i></div>
        <div class="grow-footer"></div>
      </div>
    </div>
  </div>
</div>
