<div
  id="map-suggestions"
  class="mapbox-map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers_for_suggestions.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

