<div class="detail item container">
  <div class="container pt-5">
    <% @trip.trip_items.each do |element| %>
    <div class="trip-item-card">
      <%#= link_to trip_trip_item_path(element) do%>
      <%= element.name %>
      <p> 1.trip item</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#card-trip-item-<%=element.id%>">
        TEST
      </button>
      <%# end %>
    </div>
    <% end %>
  </div>
</div>
