<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/TrhLCn1abMU/1600x900);">
  <div class="container">
    <h1>Plan your trip together - Travel better</h1>
    <div class="container-2">
     <div class="box-1">
        <div class="txtplan">
          Create your next adventure<br>
        </div>
        <%= link_to "Let's begin!", new_trip_path, class: 'btn btn-enter'%>
      </div>
    </div>
   </div>
</div>
