<h1>hello <%= @invite.email %></h1>


<p>
  Welcome back to Travlr !
  <%= User.find_by(id: @invite.sender).first_name%> invites you to the trip : <%= Trip.find_by(id: @invite.trip_id).name%>
  follow this link and plan your trip together:
  <%=link_to 'Plan your trip!', @new_user_session_url%>
</p>
