.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 280px 0 200px 0;
}

.banner .img {
  max-width: 100vh;
  height: auto;
}

.banner h1 {
  // margin: 0;
  margin-bottom: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3.2rem;
  font-weight: 700;
  font-family: roboto;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.txtplan {
  color: white;
  margin-right: 16rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.txtplan a{
  font-size:22px;
  font-weight:400;
}
// .txtfind {
//   color: white;
//   margin-right: 2rem;
//   margin-bottom: 2rem;
//   border-radius: 6px;
// }

.container-2 {
 display: flex;
}

.trip-description{
  margin: 0;
}
