.add-item{
  color: #1FB09A;
  float:left;

}

.btn-enter {
  color: white;
  background: #1FB09A;
  border: 1px white solid #4A4A4A;
  padding: 16px 60px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.8rem;
  font-family:roboto;
  opacity: 0.9;
}

.btn-enter:hover{
  opacity: 1;
}

.btn-enter:hover {
  opacity: 1;
  color: white;
}

.btn-trip-creation-form {
  color: white;
  background: transparent;
  border: 2px white solid;
  padding: 10px 40px;
  border-radius: 6px;
  font-weight: lighter;
  margin-top: 2rem;

}

.trip-item-btn {
  background-color: $green;
}
.add-new-trip-item {
  background-color: $green;
  border-radius: 5px;
  width: 250px;
  margin-left: 2rem;
  padding: 0;
  margin-top: 2rem;
  p {
    margin: 0;
    margin-left: 12px;
    color: white;
    font-size: 2rem;
  }
  i {
    color: $white;
    font-size: 2rem;
    margin-left: 20px;
  }
  &.cta {
    margin: 4rem auto 2rem;
  }
}
.btn-trip-creation-form:hover {
  color: #1FB09A;
  border: 2px #1FB09A solid;
}



