.trip-suggestions-calendar.fc {
    font-size: 12px;
    padding: 15px;

}

.container-calendar {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 1rem;

  i {
    padding: 1rem;
    color: #1FB09A;
  }
}


.big-calendar-container.fc {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 1rem;
    font-size: 12px;
    padding: 15px;

}
