.trip-suggestions-calendar.fc {
    font-size: 12px;
    padding: 15px;
    text-align: center;
    .button-group{

    }
}

.container-calendar {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  i {
    padding: 1rem;
    color: #1FB09A;
  }
}


.big-calendar-container {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: auto;
    font-size: 1.5rem;
    padding: 15px;
    // width : 80vw;
    height : 600px;
}

#small-calendar-container .fc-scroller.fc-day-grid-container {
  height: auto !important;
}


#calendar {
text-align: center;
}

#small-calendar {
text-align: center;
}
