.trip-detail-card-content-comments {
font-family: roboto;
text-decoration: none;

}


.comment-box{
  border-radius: 12px;
  border: 0;

}



.input-form-comment {
  width : 40vw !important;

}

.comment-comment textarea {
   border: solid 1px black;
}
