// create comment

.trip-detail-card-content-comments {
  font-family: roboto;
  text-decoration: none;
  //

.content-comment {
  margin-top:1.5rem;
  margin-bottom:1.5rem;
}

  .comment_comment {
    flex-grow: 1 !important;
    margin-right: 0.5rem;
  }
}

#new_comment {
  align-items: flex-end;

}



.comment-form {
  margin-top: 2rem;
}

.comment-box{
  border-radius: 12px ;
  border: 1px solid rgba(196,196,196, 0.1);
  background-color: #C6D8D3;
  margin-left: 1rem;

}



.input-form-comment {
  width : 40vw ;


}

.comment-comment .form-control {
 border: solid 1px black;

}



// show comments

.list-group-item.single-comment {
  border: none;
}



.content-comment {
  margin-top : 1rem;

}

.comment-user-firstname {
  font-family: Roboto;
  font-size: 1rem;
  color: #345995 ;
  margin-left: 1rem;

}

.actual-comment {
margin-top: 0rem;
margin-left: 2.7rem;
margin-bottom: 2rem;
min-height : 3rem;
border: 1px solid transparent;
border-radius: 6px;
background-color : rgba(52, 89, 149, 0.2);
height: auto;

p {
  padding : 5px;
  font-family: roboto;
  font-weight: lighter;
  max-width: 400px;
  overflow-wrap: break-word;
  }

}
