.wrapper{
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(auto, auto);
}

.wrapper > div{
  // background: #eee;
  padding: 1rem;
}

.nested{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem;
}


.nested-box{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 0.5fr;
  // border: 0.2rem solid grey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h4 {
  font-size: 22px;
  padding: 0rem 1rem 0.3rem 0.5rem;
  color: #1C4F5A;
  margin:0
  }
    p   {
    font-size: 14px;
    padding: 0 0 0 0.5rem;
    text-align: center;
    margin: 0;
  }
}

.card-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sc-info{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.sc-info-child{
  grid-column: 1/3;
}

.icons{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}









