.navbar-lewagon {
  justify-content: space-between;
  background: #31333B;
}

.nav-link{
  color: #A4B0C3 !important;
  padding: 0.5rem 0 0 0;
  opacity: 0.8;
}

.profile-avatar{
  margin: 0 2rem 0 2rem;
}


.navbar-nav{
  padding: 0 1rem;
}

.nav-link:hover{
  border-bottom: 2px solid #1FB09A;
  opacity: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-name {
  color: #1FB09A;
  // padding: 0.5rem 0 0 0;
  opacity: 0.8;
  font-size: 24px;
  letter-spacing: 0.4em;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  // justify-content: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -67px;
}

