.switches {
  position: absolute;
  top: -45px;
  width: 70%;
  margin-right: 1rem;
}

.map-wrapper {
  position: relative;
}

.nav-tabs.switches {
  a {
    font-size: 2rem;

  }
  i {
    padding: 10px;
    color : #31333B;
    background-color : transparent;
  }
}


.nav-tabs .nav-link {
  &.active {
    background-color: $green !important;
  }
}

.nav-item.switch {
  width: 50%;
  &:hover {
    background-color: $green !important;
  }
}
