.switches {
  position: absolute;
  top: -30px;
}

.map-wrapper {
  position: relative;
}

.nav-tabs.switches i {
padding: 10px;
color : #31333B;
background-color : transparent;
}

.link.active.nav-tabs.nav-item.show.nav-link {

}
