.suggestions-item-card body {
  font-family: roboto;
  text-decoration: none;
}
.suggestions-first-card {
  font-family: roboto;
  overflow: hidden;
    p   {
    font-size: 28px;
    padding: 10px;
    text-align: left;
    color: #1FB09A;
  }
  i {
    color:#1FB09A;
  }
}

.suggestions-item-card {
  position: relative;
  font-family: roboto;
  height: 120px;
  // border: 1px solid black;
  border-radius: 6px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
    h4 {
  font-size: 1em;
  padding: 1rem 1rem 0.3rem 0.5rem;
  color: #1C4F5A;
  margin: 0;
  text-decoration: none;
  }
    p   {
    font-size: 14px;
    padding: 0 0 0 0.6rem;
    text-align: left;
    text-decoration: none;
  }
}

.suggestions-item-card:hover a, a:hover, a:focus {
    text-decoration: none;
}

.suggestions-item-card img {
  width: 120px ;
  height:100%;
  object-fit: cover;

}

.suggestions-card-information-text {
  min-width: 200px;
  text-align: initial;
}

.card-info-icons {
height : 20px;
justify-content: space-between;
margin: 15px;
width:120px;

}

.suggestions-item-card-information-icons-avatar img {
width: 25px;
height: 25px;
border-radius: 50%;
}

.suggestions-item-card-information-icons .fas {
  height: 25px;
  color: #979797;
}

.detail-item-container a {
  text-decoration: none;
}
.detail-item-container:hover a {
  text-decoration: none;
}

.comments {
  position:relative;
}

.comments-counter {
  position: absolute;
  top: 17px;
  left:12px;

}

  .comments p {
      font-size: 9px;
      font-weight: bold;
      border-radius : 50%;
      background-color: #1FB09A;
      color: white;
      padding: 2px 6px;
      text-align:center;
    }


.likes {
  position:relative;
}
.likes-counter {
  position: absolute;
  top: 17px;
  left:12px;
}

.fa-heart{
  color: #e03a3a;
  opacity: 0.8;
}

.fa-heart:hover{
  color: #e03a3a;
  opacity: 1;
}


.fa-comment{
  color: #3898b5;
  opacity: 0.8;
}

.fa-comment:hover{
  color: #3898b5;
  opacity: 1;
}



.likes p {
      font-size: 9px;
      border-radius : 50%;
      background-color: #1FB09A;
      color: white;
      padding: 2px 6px;
      text-align:center;
      font-weight: bold;
    }

.route-add{
  position: absolute;
  top: 60%;
  right: 5%;
}

.fa-plus-circle{
   font-size: 38px;
   color: #1fb09a;
 }

.add-button > a > p{
  font-size: 1rem;
  color: #1fb09a;
  opacity: 0.7;
}

.add-button > a > p:hover{
  font-size: 24px;
  color: #1fb09a;
  opacity: 1;
  text-decoration: none !important;
  word-spacing: 4px;
  transition-duration: 380ms;
}

.add-button > a:hover{
  font-size: 24px;
  color: #1fb09a;
  opacity: 1;
  text-decoration: none !important;
}



.added{
  color: green;
}

.fa-hiking{
color: #FE621D;
}

.fa-bus{
  color: #6153CC ;
}

.fa-home{
  color: #EF476F;
}

.suggestion-tab-flex-top {

}

