.modal-dialog {
  max-width: none;
  max-height: none;
  width:70vw;
  height: 70vh;
}


.trip-detail-card {

}


.trip-detail-card  img {
  width: 90%;
  height: 200px;
  object-fit: cover;
}

.modal-header {
  background-color: #31333B;


}
