*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: '';
}

.img-responsive {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


$hover-bg : orange; // left triangle

.card__collection {
    position: relative;
    display: block;
    font-family: 'Do Hyeon', sans-serif;
    overflow: hidden;

  .cards {
      width: 100%;
      height: 30vh;
      display: block;
      background-size: cover;
      float: left;
      position: relative;
      overflow: hidden;
      background-position: center;
  }

  .cards--two {
      position: relative;
      backface-visibility: hidden;

      p {
        position: absolute;
        top: 65%;
        font-weight: 700;
        left: -100%;
        text-transform: capitalize;
        color: #fff;
        font-size: 20px;
        z-index: 8;
        transition: all .6s ease;
      }

      &:hover {

        p {
          left: 5%;
        }
        .cards--two__rect {
          top: 50%;

          &:before {
            transform: translateY(15px);
          }
        }

        li {
            transform: translateY(0);
        }
      }

      img {
        transition: all .2s ease;
      }

      &__tri {
        border-top: 220px solid transparent;
        border-bottom: 190px solid transparent;
        border-right: 288px solid #fff;
        opacity: .9;
        position: absolute;
        display: block;
        top: 0;
        right: -100%;
        transition: all .2s ease-in-out;

        &:before {
          border-top: 220px solid transparent;
          border-bottom: 190px solid transparent;
          position: absolute;
          content: '';
          display: block;
          top: -220px;
          right: -612px;
          transition: all .3s ease-in-out;
          transition-delay: .2s;
        }
      }

      &__rect {
        width: 750px;
        height: 200px;
        background: #fff;
        display: block;
        position: absolute;
        top: 175%;
        left: -78%;

        z-index: 5;
        opacity: .9;
        transition: all .3s ease-in-out;

        &:before {
          content: '';
          display: block;
          width: 100%;
          position: relative;
          height: 100%;
          background: $hover-bg;
          transform: translateY(200px);
          z-index: 2;
          transition: all .3s ease-in-out;
          transition-delay: .1s;
        }
      }

      ul {
        list-style: none;
        position: absolute;
        bottom: 10px;
        left: 13px;
        z-index: 9;

        li {
          display: inline-block;
          font-size: 20px;
          margin: 7px;
          color: #fff;
          transition: all .2s ease-in-out;
          transform: translateY(100px);

          &:nth-child(2) {
            transition-delay: .2s;
          }

          &:nth-child(3) {
            transition-delay: .2s;
          }

          &:nth-child(4) {
            transition-delay: .2s;
          }
        }
      }
    }
}
.icons-wrapper {
  .counter {
    font-size: 16px;
    margin-left: 5px;
  }
}
