#trip-item-form {
  .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    // .button-close {
    //   padding-bottom: 0.2rem;
    //   justify-content: flex-end;
    // }
  }

  .modal-body {
    padding-top: 0;

  }
}

.modal-footer {
  border-top: 100px;
}

.form-check {
  padding-left: .40rem;
}

.form-control-label, label.file {
  padding-left: .40rem;
}

.form-control-file {
  padding-left: .40rem;
}

#add-items {
    justify-content: center;
}

.close {
  color: white;
  position: right !important;
}
