#trip-item-form, #edit-trip-item-form {
  .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    // .button-close {
    //   padding-bottom: 0.2rem;
    //   justify-content: flex-end;
    // }
  }

  .modal-body {
    padding-top: 0;

    .trip-item-inline-row {
      justify-content: space-between;
      padding: 0 16px;

      .form-control:disabled, .form-control[readonly] {
        background-color: #fff;
        border-width: 1px;
        border-weight: lighter;
      }
    }
  }
}

#edit-trip-item-form {
  .add-item {
    float: none;
  }

  .trip_item_start_date, .trip_item_end_date {
    width: 44%;

    input.datepicker {
      padding-right: 10px;
    }

  }
}

.modal-footer {
  border-top: 100px;
}

.form-check {
  padding-left: .40rem;
}

.form-control-label, label.file {
  padding-left: .40rem;
}

.form-control-file {
  padding-left: .40rem;
}

#add-items {
    justify-content: center;
}

.close {
  color: white;
}

.btn-success {
  background-color: #1FB09A;
}

.no-trip-items-image {
  height: 50vh;
  margin-top: 5rem;
  margin-bottom: 15rem
}

